{% extends "core/base.html" %}
{% load static %}


{% comment %} taskBlock {% endcomment %}

{% block task %}

<h2>Task</h2>

{% for Task in Tasks %}
<ul class="list-group">
    <li class="list-group-item">{{Task.title}}</li>
</ul>
{% endfor %}

{% endblock task %}

{% comment %} listBlock {% endcomment %}

{% block toDoList %}

<h2>ToDoLists</h2>

{% for ToDoList in ToDoLists %}
<ul class="list-group">
    <a href="#">
        <li class="list-group-item" id="ListTitle" value="{{ToDoList.title}}">{{ToDoList.title}}</li>
    </a>
</ul>
{% endfor %}

{% endblock toDoList %}

